.container{
    margin:auto;
    width:400px;
    text-align: center;
    background-color: rgb(217, 237, 238);
    padding-bottom:30px;
}
.btns{
    display: flex;
    flex:100%;
    justify-content: center;
   margin-left:30px;
   margin-right: 30px;
    flex-wrap: wrap;
}
button{
    display:flex;
    flex:25%;
   padding:10px;
   justify-content: center;
}
input{
    width:77%;
    padding:15px;
    margin-bottom: 10px;
}
.oper{
    background-color: cadetblue;
    border: 1px solid black;
}